:root {
    --danger: #db5461;
    --danger-selected: #d83747;
    --blue-light: #dfe7ec;
    --blue: #aac7db;
    --blue-selected: #89b0ce;
    --green: #45c03e;
    --green-selected: #24a11d;
    --olive-light: #dfecb3;
    --olive: #BADA55;
    --olive-selected: #a6c443;
    --yellow-light: #f5e0a7;
    --yellow-light-off: #f1e1c3;
    --yellow: #FFCA3A;
    --yellow-selected: #dfae27;
    --ruby: #A65089;
    --ruby-selected:#8F3C73;

    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;

}

a {
    text-decoration: none !important;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainHeader {
    font-family: poppins-bold, sans-serif;
}

.innerPage {
    max-width: 1000px;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.page {
    height: 80vh;
}

@font-face {
    font-family: poppins;
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format("truetype");
}
@font-face {
    font-family: poppins-bold;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format("truetype");
}

.bookItem {
    width: 120px;
    height: 150px;
    margin: 10px;
    background: no-repeat, linear-gradient(
            rgba(255, 255, 255,0.7),
            rgba(255, 255, 255,0.7)
    );
    background-size: cover;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255,0.7);
}

.innerBookItem {
    text-wrap: normal;
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
    background: no-repeat;
    background-size: cover;
}

.innerBookText{
    color: white !important;
    font-size: 12px;
}

.bookItemTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.overlay {
    position: relative;
    transition: all 1s;
    z-index: 2;
}

.overlay:after {
    z-index: 2;
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.overlay:hover:after {
    opacity: 0;
}

.descriptionBox {
    max-height: 200px;
    padding: 5px;
    font-size: .8rem;
    line-height: 1rem;
}
#addBook {
    margin-top: 20px;
    background-color: var(--yellow-light);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.detailParagraph {
    font-size: .75rem;
    margin-bottom: 4px !important;
}
.detailsHeader {
    font-weight: bold;
    font-family: 'poppins-bold';
}

.bookImageHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.bookImageHolder img {
    display: block;
}

.bookHeader {
    font-family: 'poppins-bold';
}
.addBookDivider {
    width: 90%;
    margin: auto;
}

.createPlanRow {
    font-size: .85rem;
    text-align: center;
}

#addBook small {
    margin-top: 5px;
}

#planTable {
    margin-top: 20px;
}

#planTable thead {
    background-color: var(--ruby-selected);
    color: white;
}

#planTable tbody {
    background-color: var(--blue);
}

#planTable input {
    text-align: center;
    font-size: 0.8rem;
}

#planTable .numberInput {
    width: 100%;
    text-align: center;
}

.simpleToast {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.simpleToast button {
    visibility: hidden;
}

.simpleToast {
    background-color: var(--ruby-selected) !important;
    color: white !important;
}

.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.updateModal {
    display: flex;
    flex-direction: column;

}
.updateModal img {
    align-self: center;
}

.checkbox {
    width: 100%;
}

.doneBtn {
    font-size: 0.7rem !important;
    padding: 3px 5px !important;
}

th {
    text-align: center !important;
    font-size: 0.8rem !important;
}

td {
    font-size: 0.85rem;
    text-align: center;
}